@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Rubik;
  font-weight: 400;
}

@layer base {
  :root {
    --primary: 0 0% 7.8%;
    --secondary: 0 0% 10.2%;
    --accent: 273 100% 50%; /* amethyst 153,102,204   270 50% 60% */
    --tertiary: 0 0% 13%;
  }
}

.server-time {
  background: linear-gradient(0deg, rgba(14,0,255,0.5) 0%, rgba(0,0,0,0) 51%);
}

.server-disabled {
  background: linear-gradient(0deg, rgba(187, 23, 23, 0.3) 0%, rgba(0,0,0,0) 51%);
}

.scroll-hidden {
  scrollbar-width: none;
}

.scroll::-webkit-scrollbar {
  border-radius: 4px;
  background: hsl(var(--secondary));
  scrollbar-width: thin;
}

.scroll::-webkit-scrollbar-button {
  display: none;
}

.scroll::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: hsl(var(--tertiary));
}