@import "tailwindcss";

@font-face {
  font-family: 'SF Pro Display';
  src: url('/fonts/sfprodisplay.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

:root {
  background-color: rgb(10 10 10);
  color: white;
  font-family: "SF Pro Display";
  font-weight: 500;
  overflow: hidden;
}

/* .riverfall-gradient {
  color: linear-gradient(33deg, #F15F79 0%, #B24592 100%);
} */

.back-blur {
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.back-saturate-50 {
  backdrop-filter: saturate(0.5);
  -webkit-backdrop-filter: saturate(0.5);
}

.back-saturate {
  backdrop-filter: saturate(100);
  -webkit-backdrop-filter: saturate(100);
}

.object-gradient {
  background: linear-gradient(to right, #0d0d0d 0%, #333333 50%, #666666 100%);
  transition: opacity 0.3s ease-in-out;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

*:focus {
  outline: none;
  /* box-shadow: inset 0 0 0 1px white; */
}


.spinner {
  display: inline-block;
  animation: spin 3s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}